*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/.idea/
/app/build/
/app/debug/
/app/release/
/app/app.iml
/library/build/
/library/library.iml
/nurs/build/
/nurs/nurs.iml
/orderTake.iml
/OrderTaking.iml
/svn
/.svn
/.idea
